.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 20px;

  background: #ffffff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.logos img {
  height: 70px;
  object-fit: contain;
  opacity: 0.9;
  transition: all 0.3s ease;
  cursor: pointer;

}

.logos img:hover {
  opacity: 1;
  transform: scale(1.08);
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .logos img {
    height: 55px;
  }
}