.navbar {
  height: 12vh;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f5f3;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 96px;
}

.navbar-lists {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar-lists li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-logout-btn {
  background: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.role-dropdown {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.role-dropdown:hover {
    cursor: pointer;
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #09c190;
  font-size: 14px;
}

.profile-pic {
  width: 38px;
  height: 38px;
  border-radius: 50%; 
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.profile-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-lists {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 220px;
    padding: 20px;
    box-shadow: -2px 4px 10px rgba(0,0,0,0.1);
    display: none;
  }

  .navbar-lists.open {
    display: flex;
  }
}
